.App {
  text-align: center;
  margin: 20px;
  border: 1px solid #222;
  box-shadow: 0 2px 4px #111;
  background-color: #eee;
}

.AppPF{
  text-align: center;
  margin: 20px;
  border: 1px solid #eee;
  box-shadow: 0 2px 4px #111;

}

.colorRed{
  color: red;
}

.bold {
  font-weight: bold;
}


.App .Guzik{
	background-color: green;
	color: white;
  	font: monospace;
  	border: 1px solid blue;
  	padding: 10px;
  	cursor: pointer;
  }

.App .Guzik:hover {
    background-color: lightgreen;
    color: black;
  }

.App .Guzik.Red {
  background-color: red;
}

.App .Guzik.Red:hover {
  background-color: salmon;
}