.App {
  text-align: center;
  border: 1px solid #eee;
  box-shadow: 0 2px 4px #111;
  margin: 20px;
}

.colorRed{
  color: red;
}

.bold {
  font-weight: bold;
}


.Guzik{
	background-color: green;
	color: white;
  	font: monospace;
  	border: 1px solid blue;
  	padding: 10px;
  	cursor: pointer;
  }

 .Guzik:hover {
    background-color: lightgreen;
    color: black;
  }